* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-secondary: #89b4fa;
  --clr-primary: #eff1f5;
  --serif: "Times New Roman", Times, serif;
  --sans-serif: Roboto, sans-serif;
}

/* == default style == */

body {
  background-color: var(--clr-primary);
}

img {
  max-width: 100%;
}

.hero__img img {
  margin-inline: auto;
  display: block;
  line-height: 0;
  box-shadow: 1px 1px 10px #aaa;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* == reusable class == */
.container {
  width: 85%;
  max-width: 1280px;
  margin-inline: auto;
  padding-block-start: 2rem;
}

/* == individual style == */

.hero {
  position: relative;
}
.hero::after {
  content: "";
  display: block;
  min-height: 480px;
  width: 100%;
  background-color: var(--clr-secondary);
  clip-path: polygon(0 0, 100% 0%, 100% 50%, 0% 100%);
  position: absolute;
  z-index: -1;
  top: 0;
}

.hero__img {
  position: relative;
  margin-block-end: 2rem;
}

.hero__text--name {
  font-family: var(--serif);
  font-size: 4rem;
  font-weight: 200;
  line-height: 0.9;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section__title {
  font-family: var(--serif);
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
}

.section__about-me {
  /* border-bottom: 1px solid black; */
  padding: 1rem 0;
  margin-block-end: 6rem;
}

.section__about-me--text {
  font-family: var(--sans-serif);
  font-size: 1.2rem;
  line-height: 1.6;
  opacity: 0.8;
}

.project__container {
  margin-top: 1rem;
}

.project__item {
  margin-bottom: 2rem;
  box-shadow: 1px 1px 10px #aaa;
}

.project__item img {
  width: 100%;
}

.project__nav {
  margin-block-end: 1rem;
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav__link img {
  display: block;
}

.project__text {
  padding: 1rem;
}

.project__name {
  margin-inline-end: auto;
  font-family: var(--sans-serif);
  font-size: 1.5rem;
}

.footer {
  background-color: var(--clr-secondary);
}

.contact-me {
  font-weight: 400;
  font-family: var(--serif);
  font-size: 3rem;
  margin-block-end: 1rem;
}

.footer-message {
  font-size: 1.2rem;
  font-family: var(--sans-serif);
}

.links {
  display: flex;
  gap: 1rem;
  padding-block: 2rem;
}

.links img {
  width: 36px;
}

@media (min-width: 700px) {
  .hero__img {
    float: left;
    margin-block-start: -6rem;
    margin-block-end: 0px;
    margin-inline-end: 1rem;
  }

  .hero__text--name {
    top: 10px;
    left: 90%;
    transform: translateX(0);
    width: max-content;
  }

  .section__about-me {
    background-color: white;
    margin-block-start: 6rem;
    margin-inline-start: 3rem;
    box-shadow: 1px 1px 10px #aaa;
    padding: 3rem 1rem;
  }

  .project__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
  }
  .section__about-me .links {
    display: none;
  }
}

/* TODO: desktop at 1100px */

@media (min-width: 1100px) {
  .section__title {
    text-align: left;
    font-size: 2.5rem;
  }

  .section__about-me--title {
    margin-block-end: 3rem;
    font-size: 2.5rem;
  }

  .hero__text--name {
    font-size: 3rem;
    top: initial;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
  }

  .hero__content {
    display: flex;
    align-items: center;
    margin-block-end: 5rem;
  }

  .hero__img {
    float: none;
    margin: 0;
    flex-grow: 1;
    flex-basis: 400px;
  }

  .hero__img img {
    width: 100%;
  }

  .section__about-me {
    margin: 0;
    flex-basis: 70%;
  }
  .section__about-me .links {
    padding-block-end: 0;
    justify-content: flex-end;
    display: flex;
  }
}
